
@{
    ViewBag.Title = "CompanyDetails";
}

<body>
    <section class="page-content-area search-result-page">
        <div class="container">
            <div class="col-md-3">
                <h3><a href="/Admin/Home" style="border: 3px; border-style: solid; border-color:red;color:red">Admin Home Page</a></h3>
            </div>
            <div class="col-md-6">
                <div class="well" style="margin-top: 50px;margin-bottom: 5px;margin-right: 5px;margin-left: 5px;">
                    <div class="row">                        
                        <div class="col-md-3">
                            <img src="~/assets/images/Mcdonalds.png" alt="Smiley face" height="100" width="125">
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="6" color="black">Macdonalds<p>
                                <img src="~/assets/images/stars.png">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Location:<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">New Garden Town Lahore.<p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Contatct 1:<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">0900-78601<p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Contatct 2:<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">0900-78601<p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Email:<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">abc@yahoo.com<p>
                        </div>
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Password:<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">abc@yahoo.com<p>
                        </div>
                        <div class="col-md-3">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="4" color="black">Type :<p>
                        </div>
                        <div class="col-md-9">
                            <p style="margin:0px 0px 0px 5px " align="left"><font size="3" color="black">Restaurants<p>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg">Remove Company</button>
                </div>
            </div>
           
            <div class="well col-md-3" style="border: 5px; border-style: solid; border-color: red; color: red;text-align:center">
                <a href="/Admin/RemovePostDetails"><font size="6" color="red">View Company Adds</a>
            </div>
            
        </div>
     </section>
</body>