
@{
    ViewBag.Title = "RemovePostDetails";
}

<!-- page content -->
<section class="page-content-area search-result-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <h3><a href="/Admin/Home" style="border: 3px; border-style: solid; border-color:red;color:red">Admin Home Page</a></h3>
            </div>
            <div class="col-sm-9 col-md-10">
                <div class="col-sm-9 col-md-10">
                    <h1 style="padding-left:11em">Post For Removal Details</h1>
                </div>
                <ul class="list-results">
                    <li>
                        <div class="col-sm-6 col-md-6">
                            <img src="~/assets/images/slider2.jpg" style="height:200px;width:450px" alt="">
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <h3><a name="company_name" href="/Search/MoreDetails">Huma designers</a></h3>
                            <p class="justline-2">we deal in makeup and this is my oneline desciption </p>
                            <div>
                                <div class="col-md-6">
                                    <p>Location</p>
                                    <p>Phone-1</p>
                                    <p>Phone-2</p>
                                </div>
                                <div class="col-md-4">
                                    <p>email</p>
                                    <p class="hidden"></p>
                                    <p class="hidden"></p>
                                    <p><input value="Details" type="button" class="bottom-right" /></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input value="Block " style="color:red" type="button" />
                            <input value="Remove" style="color:red" type="button" />
                            <input value="Email " style="color:red" type="button" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- page-content-area -->
