
@{
    ViewBag.Title = "About";
}

<div>
    <div class="page-section">
        <div class="container">
            <div class="section-header">
                <h2 style="color:green"><strong><i>Catering Is Ready For You</i></strong></h2>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="with-icon" style="color:brown"><span class="glyphicon glyphicon-home"></span><b>  Catering</b></h4>
                    <p>Latest deals provided my the caterers in the town</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="with-icon" style="color:green"><span class="glyphicon glyphicon-tower"></span><b>  Restaurants</b></h4>
                    <p>Latest deals provided my the restaurants for small level parties and events in the town</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="with-icon" style="color: darkorange"><span class="glyphicon glyphicon-gift"></span><b>  Beauticians</b></h4>
                    <p>Latest make over deals provided my the beauticians in the town</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="with-icon" style="color:orangered"><span class="glyphicon glyphicon-music"></span><b>  Entertainment</b></h4>
                    <p>Entertainers available in the town</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-section">
            <div class="custom-controls pull-right">
                <span id="slider-prev"></span>
                <span id="slider-next"></span>
            </div>
            <h2><b>Featured Companies</b></h2>
            <ul class="slider-gallery clearfix">
                <li class="col-md-4">
                    <img src="~/assets/images/Tasneem's Make-up Studio and Salon.jpg" alt="">
                    <div class="overlay-data top">
                        <div class="overlay-inner">
                            <div>
                                <h4 style="color:darkgreen"><b>Tasneem's Make-up Studio and Salon</b></h4>
                            </div>
                        </div>
                     </div>
                </li>
                <li class="col-md-4">
                    <img src="~/assets/images/QYT Events.jpg" alt="">
                    <div class="overlay-data right">
                        <div class="overlay-inner">
                            <div>
                                <h4 style="color:darkgreen"><b>QYT Events</b></h4>
                            </div>
                        </div>
                     </div>
                </li>
                <li class="col-md-4">
                    <img src="~/assets/images/Lebanese Lounge.jpg" alt="">
                    <div class="overlay-data bottom">
                        <div class="overlay-inner">
                            <div>
                                <h4 style="color:darkgreen"><b>Lebanese Lounge</b></h4>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>